.recover-password {
	// position: relative;
	.back {
		width: 914px;
		height: 495px;

		&__content {
			margin-left: 87px;
			width: 219px;
		}
		
	}
	.front {
		right: 43px;
		width: 478px;
		height: 100vh;
		
		&__content {
			width: 301px;
			top: 60%;

		}
		
		&__form {
			margin-top: 41px;
		}
		&__wrapper {
			display: flex;
			justify-content: space-between;
			width: 100%;
			margin-top: 35px;
		}
		
		.button {
			margin-top: 18px;
			font-size: 16px;
			line-height: 19px;
		}
		.email-form {
			margin-bottom: 0;
		}
	}
}

  
.frontRecoverTransition-appear{
	opacity: 1;
	transition: all .5s ease;
}
  
.frontRecoverTransition-appear.frontRecoverTransition-appear-active {
	opacity: 1;	
	transition: all .5s ease;
}

.backRecoverTransition-appear{
	opacity: 0;
	transition: .5s ease;
}
  
.backRecoverTransition-appear.backRecoverTransition-appear-active {
	opacity: 1;
	transition: .5s ease;
}

  