.changed-pass {
	.back {
		width: 705px;
		height: 137px;
		padding: 0 80px;

		&__content {
			justify-content: space-between;
			align-items: center;
			flex-direction: row;
			width: 545px;
		}
		&__title {
			font-size: 25px;
			line-height: 29px;
			cursor: default;
		}
		&__close {
			width: 35px;
			height: 35px;
			cursor: pointer;
		}
	}
	
}