.reply-recover {
	.back {
		width: 914px;
		height: 495px;
		justify-content: flex-end;
		&__content {
			right: 159px;
			width: 476px;
			margin-right: 159px;
		}
		
	}
	.front {
		left: 43px;
		width: 155px;
		&__content {
			width: 301px;
			// height: 178px;
		}
		
	}
}

@keyframes changeFrontWidthReply {
	from {
		width: 478px;
	}
	
	to {
		width: 155px;
	}
}

@keyframes changeFrontWidthReply1 {
	from {
		transform: translateX(70%);
	}
	
	to {
		transform: translateX(0%);
	}
}

// .frontReplyTransition-appear{
// 	opacity: 1;
// 	// transition: all .5s ease;
// }
  
.frontReplyTransition-appear.frontReplyTransition-appear-active {
	animation: changeFrontWidthReply 1s ease, changeFrontWidthReply1 1s ease;	
	// transition: all .5s ease;
}

.backReplyTransition-appear{
	opacity: 0;
}
  
.backReplyTransition-appear.backReplyTransition-appear-active {
	opacity: 1;
	transition: 1s ease;
}