.container-max {
	height: 100vh;
	width: 100vw;
	background-color: #1e252b;
	display: flex;
	//justify-content: space-between;
	box-sizing: border-box;
	z-index: 1;
	overflow-y: hidden;
	margin: 0;
	font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
}
.backg {
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: 1;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	margin: 0;
}
.back-00 {
	height: 80vh;
	width: 5vw;
	z-index: 1;
}
.back-11 {
	z-index: 1;
	height: 100vh;
	width: 95vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.back-1 {
	background-color: #2d9cdb;
	opacity: 0.1;
	height: 80vh;
	width: 75vw;
	z-index: 1;
	border-radius: 64px;
	right: 0;
	box-sizing: border-box;
	margin-left: 2vw;
	margin-right: 2vw;
}
.back-2 {
	background-color: #2d9cdb;
	opacity: 0.1;
	height: 80vh;
	width: 25vw;
	z-index: 1;
	border-radius: 64px;
	margin-right: 2vw;
}
.tools {
	position: fixed;
	top: 34px;
	right: 47px;
	z-index: 100;
}
.bell:hover {
	cursor: pointer;
}
.person {
	margin-left: 22px;
}
.person:hover {
	cursor: pointer;
}
// sign out модальное окно
.attentionContainer {
	position: fixed;
	width: 100%;
	backdrop-filter: blur(5px);
	z-index: 500;
	display: flex;
	align-items: center;
	justify-content: center;
	//display: none;
}
.attentionContainer.open {
	display: block;
	z-index: 500;
	width: 100%;
}
.attentionContainer.close {
	display: none;
}
.singOutAttention {
	background-color: #1e252b;
	z-index: 777;
	width: 578px;
	height: 305px;
	border: 2px solid #5063ee;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 43px;
	margin: 297px 431px;
}
