.change-pass {
	.back {
		width: 1130px;
		height: 495px;
		justify-content: center;

		&__content {
		
			top: 110px;
			left: 50%;
			right: unset;
			width: 970px;
		}
		// &__title {
		// 	font-size: 40px;
		// 	line-height: 46px;
		// 	font-weight: 400;
		// }
		&__wrapper {
			width: 100%;
			margin-top: 35px;
			display: flex;
			justify-content: space-between;
		}
		&__item {
			width: 300px;
			position: relative;
		}
		&__input {
			width: 100%;
			margin-top: 8px;
			border: 1px solid #C6C6C6;
			color: #C6C6C6;
			border-radius: 4px;
			height: 40px;
			font-size: 16px;
			line-height: 19px;
			font-weight: 400;
			background-color: #5063EE;
			padding: 12px 14px;
		}

		.button {
			position: absolute;
			right: 0;
			margin-top: 54px;
			margin-right: 80px;
			color: #FFFFFF;
			width: 300px;
			background: #2C353D;
			font-size: 16px;
			line-height: 19px;
			
		}

		.password-form {
			// position: relative;
			margin: 8px 0 0 0;
			background-color: #5063EE;
			height: 40px;
			color: #C6C6C6;
			&::focus  {
				// label {
				// 	top: 0px;
				// }
				top: 0px;
				background-color: yellow;
			}
			
		}
	}
	
}