.create-account {
	transform: all 1s;
	.back {
		width: 914px;
		height: 495px;
		justify-content: flex-end;
		&__content {
			right: 74px;
			width: 245px;
			margin-right: 74px;
		}
		.button {
			margin-top: 28px;

		}
	}
	.front {
		left: 43px;
		width: 478px;
		&__content {
			width: 300px;
		}
		
		&__form {
			margin-top: 44px;
		}
		
	
	.button {		
		width: 235px;
	}
	}
	
}
.error-message {
	color: #EB5757;
	text-align: center;
	margin-bottom: 20px;
}
.frontCreateTransition-appear{
	opacity: 1;
	transform: translateX(75%);
  }
  
.frontCreateTransition-appear.frontCreateTransition-appear-active {
	opacity: 1;
	transform: translateX(0px);
	transition: .5s ease;
}

.backCreateTransition-appear{
	transform: translateX(-200%);
	opacity: 1;
	transition: .5s ease;
}
  
.backCreateTransition-appear.backCreateTransition-appear-active {
	transform: translateX(0);
	opacity: 1;
	transition: .5s ease;
}
// .backCreateTransition-leave {
// 	opacity: 0;
// 	transition: .5s ease;
// }
